.Concept {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 100px;
}

.Concept p,
.Instructions p {
  padding: 3px;
  background-color: lightgreen;
  border: 2px solid green;
  width: 22em;
  margin-right: 3em;
}

.Instructions p {
  padding: 3px;
  background-color: lightgray;
  border: 2px solid black;
}
