.Concept {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.Concept p {
  padding: 0.2em;
  background-color: lightgreen;
  border: 2px solid green;
  width: 22em;
  margin-inline-end: 5em;
}

.Instructions > div,
.Instructions > p {
  padding: 0.2em;
  width: 32em;
  border: 2px solid black;
  background-color: lightgray;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html,
body {
  overflow-x: auto;
}
