.Concept {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 100px;
}

.Concept p {
  padding: 0.2em;
  background-color: lightgreen;
  border: 2px solid green;
  width: 22em;
  margin-right: 3em;
}

.Instructions > div,
.Instructions > p {
  padding: 0.2em;
  width: 32em;
  border: 2px solid black;
  background-color: lightgray;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
