.Create {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.Button {
  user-select: none;
  color: black;
  border: 3px solid navy;
  margin: 1em;
  border-radius: 50px;
  cursor: pointer;
  background-color: lightblue;
  outline: 0;
}
.CreatedText {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Button:hover {
  background-color: lightcoral;
}

.Parameter {
  background-color: lightgray;
  border: 1px dotted black;
  padding: 2px;
}
