.NavBar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 1em;
  width: 10em;
  border: 1px solid red;
  background-color: wheat;
}
.Animated-logo {
  height: 5vmin;
  pointer-events: none;
  margin-left: 1em;
  user-select: none;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 1em;
  user-select: none;
}

.NavBarElement {
  user-select: none;
  color: black;
  border: 3px solid navy;
  margin: 1em;
  padding: 0.2em;
  border-radius: 50px;
  cursor: pointer;
  background-color: lightblue;
}

.CoinInfo {
  margin-left: 1em;
  white-space: nowrap;
  font-weight: bold;
  user-select: none;
}

.CoinInfo > p > span {
  color: green;
  border: 1px solid green;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
  padding-left: 7px;
  padding-right: 7px;
}

.NavBarElement:hover {
  background-color: lightcoral;
}

ul {
  padding-inline-start: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .Animated-logo {
    animation: Animated-logo-spin infinite 0.5s alternate;
  }
}

@keyframes Animated-logo-spin {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
