.NavBar {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 1em;
  width: 10em;
  border: 1px solid red;
  background-color: wheat;
}

.NavBarElement {
  user-select: none;
  color: black;
  border: 3px solid navy;
  margin: 1em;
  padding: 0.2em;
  cursor: pointer;
  background-color: lightblue;
}

.CoinInfo {
  margin-left: 1em;
  white-space: nowrap;
}

.NavBarElement:hover {
  background-color: lightcoral;
}

ul {
  padding-inline-start: 0;
}
